/* faculty_profile.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}
h1{
  border-bottom: 1px solid black;
  font-size: 28px;
  margin-bottom: 20px;
}
.back-btn{
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: none;
  ;
}
.faculty-profile-container {
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px #ccc;
}

.faculty-profile-content {
  text-align: center;
}

.faculty-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.faculty-profile-edit-btn {
  margin-top: 20px;
  display: inline-block;
  padding: 8px 20px;
  background: #3366cc;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
