/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}

.container {
    display: flex;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px black;
}

/* Form box styles */
form {
    width: 100%;
}

.form-box h1 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link {
    margin-top: -5px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 48px;
    background: #3F8EFC;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}


/* Info box styles */
.info-box {
    width: 50%;
    height: 100%;
    background: #3F8EFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    padding: 20px;
    box-sizing: border-box;
}

.info-box h3 {
    color: white;
    margin: 0;
    font-size: 20px;
}

.info-box h2 {
    color: white;
    font-family: serif;
    margin: 0;
    font-size: 28px;
}

.info-box p {
    color: white;
    opacity: 0.7;
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.4;
}

img {
    width: 300px;
    padding-top: 10px;
}

/* Responsive Design - mobile screens */
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        flex-direction: column;
    }

    /* Form box adjustments for mobile */
    .form-box {
        width: 100%;
        height: 50%;
        padding: 20px;
    }

    /* Info box adjustments for mobile */
    .info-box {
        width: 100%;
        height: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-box h3 {
        font-size: 18px;
    }

    .form-box h1 {
        font-size: 28px;
    }
    
    .input-box input {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }
}
